@using zinfandel_movie_club.Config
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject Branding branding

@{
    var pageTitle = (ViewData["Title"]?.ToString() ?? "").Trim();
    var hasTitle = !string.IsNullOrWhiteSpace(pageTitle);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(hasTitle ? $"{pageTitle} - " : "") @branding.SiteName</title>
    <link rel="stylesheet" href="https://use.typekit.net/bty8qbb.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zinfandel_movie_club.styles.css" asp-append-version="false" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3">
            <div class="container">
                @if (hasTitle)
                {
                    <div class="logo-container logo-with-page-name d-sm-inline-flex justify-content-between">
                        <div class="logo-link">
                            <a href="/">@branding.SiteName</a>
                        </div>
                        <div class="page-name">@pageTitle</div>
                    </div>
                }
                else
                {
                    <div class="logo-container logo-without-page-name d-sm-inline-flex justify-content-between">
                        <div class="logo-link">
                            <a href="/">@branding.SiteName</a>
                        </div>
                    </div>
                }

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                @* ReSharper disable once Mvc.AreaNotResolved *@
                                <a class="nav-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div id="main-content-row" class="row">
                <div class="col"></div>
                <div class="col-sm-8">
                    @RenderBody()
                </div>
                <div class="col"></div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>