@using zinfandel_movie_club.Config
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using zinfandel_movie_club.Data
@inject Branding branding

@{
    var pageTitle = (ViewData["Title"]?.ToString() ?? "").Trim();
    var omitResponsiveColumns = (ViewData.TryGetValue("OmitResponsiveColumns", out var omit) && (bool)omit!);
    var hasTitle = !string.IsNullOrWhiteSpace(pageTitle);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(hasTitle ? $"{pageTitle} - " : "") @branding.SiteName</title>
    <link rel="icon" href="/favicon.ico?v=2" sizes="any"><!-- 32×32 -->
    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png"><!-- 180×180 -->
    <link rel="manifest" href="/manifest.webmanifest">
    
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="//use.typekit.net/bty8qbb.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/zinfandel_movie_club.styles.css" asp-append-version="false" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm  mb-3">
        <div class="container">
            @if (hasTitle)
            {
                <div class="logo-container logo-with-page-name d-sm-inline-flex justify-content-between">
                    <div class="logo-link">
                        <a href="/">@branding.SiteName</a>
                    </div>
                    <div class="page-name">@pageTitle</div>
                </div>
            }
            else
            {
                <div class="logo-container logo-without-page-name d-sm-inline-flex justify-content-between">
                    <div class="logo-link">
                        <a href="/">@branding.SiteName</a>
                    </div>
                </div>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Movies/Index">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Picker">Picker 9000</a>
                    </li>
                </ul>
                <ul class="navbar-nav add-movie-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Movies/Add"><i class="bi bi-plus-circle-fill"></i>&nbsp;Add Movie</a>
                    </li>
                </ul>
                <ul class="navbar-nav profile-picture-nav">
                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="menu-profile-picture" src="@User.ProfilePictureHref()" alt="profile picture"/>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-page="/Profile/Index">Profile</a></li>
                                @* ReSharper disable once Mvc.AreaNotResolved *@
                                <li><a class="dropdown-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign Out</a></li>
                            </ul>

                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
</header>
@if (omitResponsiveColumns)
{
    <main role="main">
        @RenderBody()
    </main>
}
else
{


    <div class="container">
        <main role="main" class="pb-3">
            <div id="main-content-row" class="row">
                <div class="col"></div>
                <div class="col-sm-8">
                    @RenderBody()
                </div>
                <div class="col"></div>
            </div>
        </main>
    </div>
}
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>