@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">@Model.ErrorTitle</h2>

<p class="error-text">
    @Model.ErrorText
</p>

@if (Model.ShowRequestId)
{
    <p class="more-info">
        More information may be available in the internal logs and can be referenced via the request id.
        <br/>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.ErrorTypeName != null)
{
    <div class="exception-info">
        <strong>Exception Type: </strong> @Model.ErrorTypeName
    </div>
}

@if (Model.ErrorProperties.Count > 0)
{
    <div class="properties">
        <table>
            @foreach (var kvp in Model.ErrorProperties)
            {
                <tr>
                    <td><strong>@kvp.Key</strong></td>
                    <td>@kvp.Value</td>
                </tr>
            }
        </table>
    </div>
}

@if (!string.IsNullOrWhiteSpace(Model.StackTrace))
{
    <p class="stack-trace">@Model.StackTrace</p>
}