@page
@using zinfandel_movie_club.Data.Models
@model zinfandel_movie_club.Pages.Picker

@{
    ViewData["Title"] = "Movie Picker 9000";
}

@section scripts {
    <script type="text/javascript" src="~/js/picker.js"></script>
}

<div>
    @if (Model.Choices.Count >= 1)
    {
        <h3 class="mt-2">First Choice</h3>
        <partial name="_MovieListMoviePartial" model="@Model.Choices[0]"/>
        
    }
    
    @if (Model.Choices.Count >= 2)
    {
        <h3 class="mt-5">Second Choice</h3>
        <partial name="_MovieListMoviePartial" model="@Model.Choices[1]"/>
    }
    
    @if (Model.Choices.Count >= 3)
    {
        <h3 class="mt-5">Third Choice</h3>
        <partial name="_MovieListMoviePartial" model="@Model.Choices[2]"/>
    }
</div>

<div id="shuffle-container" class="mt-5">
    <div class="mb-3">
        <button id="shuffle-button" type="button" class="btn btn-primary">Shuffle</button>
    </div>
    @if (Model.IsShuffled)
    {
        <div class="mb-3">
            <button id="reset-shuffle-button" type="button" class="btn btn-secondary">Reset Shuffle (@Model.ShuffleValue shuffles)</button>
        </div>
    }
</div>

<!--
    Movie Count: @Model.MovieCount
    First Id: @Model.FirstMovieId
    First Title: @Model.FirstMovieTitle
    Last Id: @Model.LastMovieId
    Last Title: @Model.LastMovieTitle
    Seed: @Model.MovieSeed
    Shuffle: @Model.ShuffleValue
-->